@model EpitTrack.ViewModels.PlanificationViewModel
@{
    ViewData["Title"] = "Index";
}
<style>
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 50px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

    
   .btn-centered {
        display: block; /* Affiche le bouton comme un bloc */
        width: 150px; /* Largeur fixe du bouton */
        height: 50px; /* Hauteur fixe du bouton */
        line-height: 50px; /* Hauteur de ligne égale à la hauteur du bouton pour centrer verticalement le texte */
        margin: 0 auto; /* Marges automatiques sur les côtés pour centrer horizontalement */
        text-align: center; /* Centrer le texte à l'intérieur du bouton horizontalement */
        padding: 0; /* Pas de padding pour que line-height contrôle l'alignement vertical */
    }
    .progress {
    width: 100%;
    background-color: #ddd;
}

.progress-bar {
    height: 20px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 20px;
    color: white;
}

</style>
<head>
    <!-- ... autres inclusions ... -->
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Planification</h3>
    </div>
    <!--
    <div>
    <button id="btnNewPlanif">Nouvelle Planif</button>
    <div id="newPlanifPopup" class="popup" style="display:none;">
        <div class="modal-content">
            <span class="close">&times;</span>
           
            <form asp-action="NouvellePlanif" method="post">
                <input name="date_courses" class="form-control" type="date"/>
                <input name="strlib_planif" class="form-control" type="text" value="planification" />
                <button type="submit" class="btn btn-success btn-centered">valider</button>
            </form>
        </div>
    </div>
    </div>
    -->
    <div>
        
        <form action="Planning/Importer" method="post" enctype="multipart/form-data">
            <title>Upload la liste des courses</title>
            <p><h4>Importer : </h4><input type="file" name="file" /></p>
            <input type="submit" value="Importer" class="btn btn-primary" />
        </form>
    </div>
    <h4 style="text-orientation ita">Planifier :</h4>
    <div>
        <table>
            <tr>
                <td>
                    <label for="datetoplanif">Veuillez séléctioner la date des courses à planifier :</label>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                   <table>
                       <tr>
                          <td>
                              <tr>
                 <td></td>
               <td>
               <form asp-action="ValiderDate">
                <table>
                    <tr>
                          <td>
                           
                            <input type="date" class="form-control" id="date_courses" name="date_courses"value="@(Model.leplanif.date_courses != null ? Model.leplanif.date_courses.ToString("yyyy-MM-dd") : "")" style="width: 150px;">
                         </td>
                         <td>
                                                <input type="submit" value="Valider" class="btn btn-primary" />
                         </td>
                     <tr/>
                     <tr>
                                            <td colspan="2"><a id="nouvellePlanifLink" href="Planning/NouvellePlanif?date_courses=@Model.leplanif.date_courses.ToString("yyyy-MM-dd")">Nouvelle planification</a></td>
                                            
                     </tr>
                </table>
               </form>
            </td>
              <td></td>  
              <td></td>
            </tr>
                    </table>
                          </td>
                          <td>
                              <tr>
                <td></td>
            <td>
                @if (Model.leplanif.id_planif >0 && Model.lesplanifications.Count()>0)
                {
                        <form asp-action="Planifier">
                       <table>
                           <tr>
                               <td>
                                   <select asp-for="leplanif.id_planif" id="listplans" asp-items="@ViewBag.listplanning" name="SelectedPlanifId" onchange="Rafraichir(SelectedPlanifId);">
                                   <option>-- select planning --</option>
                                </select>
                              </td>
                                    <td><input type="checkbox" id="mode_auto" name="mode_auto" value="true" checked/>Auto</td>
                              <td>
                                        <select id="TpsAttente" name="param_tps_attente_chauff" disabled>
                                       <option>0</option>
                                       <option>20</option>
                                       <option>30</option>
                                       <option>45</option>
                                       <option>60</option>
                                       <option>75</option>
                                       <option>90</option>
                                       <option>105</option>
                                       <option>120</option>
                                       <option>1440</option>
                                  </select>
                              </td>
                             
                           </tr>
                           <tr>
                              <td>
                                 <input type="submit" value="Planifier" class="btn btn-primary" />
                              </td>
                              
                              <td><a id="initialiserPlanifLink" href="Planning/Initialiser_Planif?id_planif=@Model.leplanif.id_planif">Initialiser planification</a></td>
                                    <td></td>
                               <td>
                                 <a id="visualiserPlanifLink" href="Planning/visualiser_planning?id_planif=@Model.leplanif.id_planif">Visualiser planning</a>
                              </td>
                          </tr>
                   </table>
                  </form>       
                }
            </td>
                <td></td>
            <td></td>
            </tr>
                          </td>
            </td>
            </tr>
                </table>

            </tr>
          </table>
    </div>
    <div id="planificationContainer">
           @Html.Partial("Planification", Model)
    </div>
</div>
    <script>

            $(document).ready(function () {
                $("#btnNewPlanif").click(function () {
                    $("#newPlanifPopup").show();
                });
                $(".close").click(function () {
                    $("#newPlanifPopup").hide();
                });
            });

    
    var id_interval;        
    if ('@Model.leplanif.val_compt>1' && '@Model.leplanif.pourcent_compt=<100') {

        
        id_interval =setInterval(Refresh, 3000);
    }


    document.getElementById('mode_auto').onchange = function () {
        var checkbox = document.getElementById('mode_auto');
        if (checkbox.checked) {
            document.getElementById('TpsAttente').disabled = true;
        }
        else {
            document.getElementById('TpsAttente').disabled = false;
        }
    };



    function Refresh() {
        var link = document.getElementById('initialiserPlanifLink');
        
        var idPlanif = link.href.split('=')[1];
        if (idPlanif > 0)
        {
            $.ajax({
                url: '@Url.Action("RefreshPlanification", "Planning")', // Assurez-vous que cette partie s'exécute dans le contexte Razor
            method: 'GET',
                data: { id_planif: idPlanif },
            success: function (data) {
                   
                // Mettre à jour le contenu de la vue partielle
                $('#planificationContainer').html(data);
                    $('#example1').DataTable();

                },
            error: function () {
            }
        });
        }

    }


    function Rafraichir(idPlanif) {
       
        var link = document.getElementById('initialiserPlanifLink');
        var LinkGen = document.getElementById('visualiserPlanifLink');
        
        link.href = '/Planning/Initialiser_Planif?id_planif=' + idPlanif.value;
        LinkGen.href = '/Planning/visualiser_planning?id_planif=' + idPlanif.value;
        
        $.ajax({
            url: '@Url.Action("RefreshPlanification", "Planning")', // Assurez-vous que cette partie s'exécute dans le contexte Razor
            method: 'GET',
            data: { id_planif: idPlanif.value },
            success: function (data) 
            {     
                // Mettre à jour le contenu de la vue partielle
                $('#planificationContainer').html(data);
                $('#example1').DataTable().draw();
            },
            error: function () 
            {
                alert("erreur " + idPlanif.value)
            }
        });
    }

    

/*
        function Rafraichir1() {
            var table = $('#example1').DataTable(); // Assurez-vous que c'est le bon identifiant de votre table
            table.ajax.reload(null, false); // Recharge les données tout en conservant l'état actuel de la table
        }
        */

$(document).ready(function () 
        {
            
            $('.Refresh-button').click(function () {
                
                var itemId = $(this).data('id');
                var tr = $(this).closest('tr');
                var td_a_modifier = tr.find('td').eq(7)
                $.ajax({
                  url: '@Url.Action("Reshresh", "Planning")',
                  type: 'POST',
                  data: { id: itemId },
                  success: function (response) 
                  {
                  if(response.success)
                    {
                            td_a_modifier.text(response.updatedItem.prenom_chauff + ' ' + response.updatedItem.nom_chauff + '[' + response.updatedItem.ca_ht_chauff + ']')
                            
                    }
                  },
                  error: function (error) 
                  {
                  // Gérer les erreurs ici
                  }
                });
                });
            $('.Affecter-button').click(function ()
            {
                var itemId = $(this).data('id');
                var tr = $(this).closest('tr');
                var td_a_modifier = tr.find('td').eq(7)
                $.ajax({
                url: '@Url.Action("Affecter", "Planning")',
                type: 'POST',
                data: { id: itemId },
                success: function (response) 
                {
                       
                    if (response.success) 
                    {
                        let liste = '<select id="SelectChauff"><option>--select chauffeur --</option>'
                        response.leschauffeurs.forEach(chauff => {
                                                        liste += '<option value=' + chauff.id_chauff +'>'+ chauff.prenom_chauff + ' ' + chauff.nom_chauff + '</option>';
                                                                  });
                        liste = liste + '</select>'
                        td_a_modifier.html(liste)
                        SelectChauff.addEventListener('change', function () {
                        let selectedID = this.value;
                        Affecter_chauff(selectedID, itemId)
                });
                    }
                },
                    error: function (error) {
                        

                }
            });
            });
            
            function Affecter_chauff(id_chauff,id_course) {
                var idLigne = 'ligneCourse_' + id_course;
                var tr = $('#' + idLigne);
                var td_a_modifier = tr.find('td').eq(7)
                $.ajax({
                    url: '@Url.Action("Affect_chauff", "Planning")',
                    type: 'POST',
                    data: { idch: id_chauff, idc:id_course },
                    success: function (response) {
                    if(response.success) 
                    {
                            balise_supp_affect = '<a href = "javascript:SuppAffect();" style = "font-size: 25px; font-weight: bold;">x</a>'
                            balise_affect_chauff = '<p>' + response.updatedItem.prenom_chauff + ' ' + response.updatedItem.nom_chauff + '[' + response.updatedItem.ca_ht_chauff + ']'

                            td_a_modifier.text(response.updatedItem.prenom_chauff + ' ' + response.updatedItem.nom_chauff + '[' + response.updatedItem.ca_ht_chauff + ']')
                            td_a_modifier.html(balise_affect_chauff + '<span>' + balise_supp_affect + '</span>')
                    }
                     else
                    {
                            erreur_msg = '<p style="color: red;">' + response.message + '</p>'
                            td_a_modifier.html(erreur_msg)
                    }
                    }
                    });
                    };

                    /**********/
            function SuppAffect() 
            {
                /*
                alert('je suis ici')
                
                var idLigne = 'ligneCourse_' + id_course;
                var tr = $('#' + idLigne);
                var td_a_modifier = tr.find('td').eq(7)
                $.ajax({
                    url: '/Url.Action("Supp_Affect", "Planning")',
                    type: 'POST',
                    data: { idch: id_chauff, idc: id_course },
                    success: function (response) {
                        if (response.success) {
                            let liste = '<select id="SelectChauff"><option>--select chauffeur --</option>'
                            response.leschauffeurs.forEach(chauff => {
                                liste += '<option value=' + chauff.id_chauff + '>' + chauff.prenom_chauff + ' ' + chauff.nom_chauff + '</option>';
                            });
                            liste = liste + '</select>'
                            td_a_modifier.html(liste)
                            SelectChauff.addEventListener('change', function () {
                                let selectedID = this.value;
                                Affecter_chauff(selectedID, itemId)
                                                                                 });
                        }
                    }
                });
                */
            };
                    /********/
        });
        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
            }
            
</script>
    
