@model EpitTrack.Models.frais

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Vous confirmez cette suppression ?</h3>
<div>
    <h4>Coût Ressource Humaine</h4> 
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_frais)
        </dt>

        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.id_frais)
        </dt>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.type_frais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.type_frais)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.date_deb_frais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.date_deb_frais)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.date_fin_frais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.date_fin_frais)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.mt_frais_ht)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.mt_frais_ht)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.mt_frais_ttc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.mt_frais_ttc)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.comment_frais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.comment_frais)
        </dd>

    </dl>
   <form asp-action="AnyTrivialString">
        <input type="submit" asp-route-id="@Model.id_frais" value="Delete" asp-action="DeleteConfirmed" />
   </form>
</div>
